@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
}


<div class="text-center">
    <h1 class="display-4">Customer List</h1>
    <table class="table table-striped align-content-center" id="customerTable">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Contact Title</th>
                <th>Contact City</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>

    </table>
</div>
@section Scripts{




    <script>
        $(document).ready(function () {
            $('#customerTable').DataTable({
                ajax: '@Url.Action("GetAllJson")',
                columns:[
                {data:"companyName"},
                {data:"contactName"},
                {data:"contactTitle"},
                {data:"city"},
                ],
            });

        });
    </script>
}