@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-striped align-content-center" id="myTable">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Email</th>
                <th>Islemler</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bilal Besir</td>
                <td>Sarikaya</td>
                <td>bbesir@hotmail.com</td>
                <td>Sil-Duzenle</td>
            </tr>
        </tbody>

    </table>
</div>
